# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
env/
venv/

# Model files
*.bin
*.gguf

# FAISS + DB
backend/database/vector_store/

# OS
.DS_Store
Thumbs.db

# Data
backend/data/
backend/database/

# Vector stores
*.pkl
*.index

# Large files
*.pdf

# Python
__pycache__/
*.pyc